<mat-card class="example-card  m-1">
  <mat-card-header>
    <ng-template [ngTemplateOutlet]="headTemplate || defaultHeadTemplate" [ngTemplateOutletContext]="{item: item}"></ng-template>
  </mat-card-header>
  <mat-card-content>
    <ng-template [ngTemplateOutlet]="contentTemplate || defaultContentTemplate" [ngTemplateOutletContext]="{item: item}"></ng-template>
  </mat-card-content>
  <mat-card-actions>
    <ng-template [ngTemplateOutlet]="actionsTemplate || defaultActionsTemplate" [ngTemplateOutletContext]="{item: item}"></ng-template>
  </mat-card-actions>
</mat-card>

<ng-template #defaultHeadTemplate let-item="item">
  <div mat-card-avatar class="example-header-image"></div>
  <mat-card-title>{{item.Name}}</mat-card-title>
  <mat-card-subtitle>{{item.Description}}</mat-card-subtitle>
</ng-template>

<ng-template #defaultContentTemplate let-item="item">
</ng-template>

<ng-template #defaultActionsTemplate let-item="item">
  <button mat-button>LIKE</button>
  <button mat-button>SHARE</button>
</ng-template>
