<div class="card d-flex flex-wrap justify-content-around m-1">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <div class="d-flex">
      <div class="w-100">
        <ng-template [ngTemplateOutlet]="contentTemplate || defaultTemplate" [ngTemplateOutletContext]="{item: item}"></ng-template>
      </div>
      <div class="d-flex flex-column buttons">
        <ng-template [ngTemplateOutlet]="btnTemplate || defaultBtnTemplate" [ngTemplateOutletContext]="{item: item}"></ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #defaultTemplate let-item="item">
  <strong>{{item.Name}}</strong>
</ng-template>

<ng-template #defaultBtnTemplate let-item="item">
</ng-template>
