@import '~@angular/material/theming';
@import "../../../styles/colors.scss";
@include mat-core();

$primary: map-get($app-theme, primary);

.navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 0;
  box-shadow: 0px -7px 13px 4px black;
}

.options-row {
  background-color: mat-color($primary, 400);
}

.shadowed {
  box-shadow: 0px -7px 13px 4px black;
  z-index: 1;
}
