<div class="row mx-0 p-3">
  <ng-container *ngFor="let item of items">
    <app-card class="col-md-6 col-lg-3 px-1" [headTemplate]="head" [contentTemplate]="content"
      [actionsTemplate]="buttons" [item]="item">
    </app-card>
  </ng-container>
</div>

<ng-template #buttons let-item="item">
  <button mat-flat-button mat-button (click)="details(item)"><i class="fas fa-edit"></i></button>
  <a mat-flat-button mat-button routerLink="/items" [queryParams]="{ category: item.Id }">
    <i class="fas fa-level-down-alt"></i>
  </a>
  <button color="warn" mat-flat-button mat-button (click)="remove(item)"><i class="fas fa-trash"></i></button>
</ng-template>

<ng-template #head let-item="item">
  <div class="d-flex">
    <div mat-card-avatar class="example-header-image" [style.backgroundColor]="item.Color | transparency: .25">
      <mat-icon class="ml-2 mt-2" [style.color]="item.Color"  matSuffix>{{item.Logo}}</mat-icon>
    </div>

    <div class="d-flex flex-column ml-1">
      <mat-card-title>{{item.Name}}</mat-card-title>
      <mat-card-subtitle>{{item.Description}}</mat-card-subtitle>
    </div>
  </div>
</ng-template>

<ng-template #content let-item="item">
</ng-template>