<h2 mat-dialog-title>
  <ng-container *ngIf="isCreate; else h2Template">
    Create
  </ng-container>
  <ng-template #h2Template>
    Edit {{item.Name}}
  </ng-template>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="item.Name">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="item.Description"></textarea>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="accent" [mat-dialog-close]="item" cdkFocusInitial>Save</button>
</mat-dialog-actions>

