@import "styles/colors.scss";
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

$primary: map-get($app-theme, primary);

html, body, .content {
  height: 100%;
  background-color: mat-color($primary, 50);
}

.mat-toolbar .mat-focused .mat-form-field-label {
  color: transparent !important;
}

.mat-card-header-text {
  margin: 0 !important;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.w-100 {
  width: 100% !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

